body {
	background-color: powderblue;
}
h1 {
	background-color:aqua;
	color:darkslategray;
	border:2px solid darkslategrey;
	text-align:center;
}
h2 {
	color: darkslategrey;
	text-align:center;
}

#construction_gif{
	display:block;
	margin-right: auto;
	margin-left: auto;
	width: 25%;
	border: 4px solid #2090aa;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

#sneaky_gif{
	width: 10%;
}

#sneaky_gif2{
	width: 10%;
}

#playAudio{
	dispaly: inline;
}